$putty-color: #fff0e1;
$yellow-color: #ffce00;

.home {
  text-align: center;
  height: 100%;
}

/* Header -- REMEMBER you must change .main whenever you change the header height */
.mainheader {
  overflow: hidden;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 40%;
  top: 0;
  z-index: 1;
}

.mainheader h1 {
  text-align: center;
  padding: 10px;
  font-size: 32px;
  top: 20%;
}

.pageselections {
  position: relative;
  width: 100%;
  height: 25%;
  top: 39%;
  background-color: #ffce00;
}.pageselections:after {
    content: "";
    display: block;
    clear: both;
}

/* This class is added to the current selection dynamically*/
.emphasis {
  font-size: 24px;
  font-weight: bold;
}

.mainheader .column {
  position: relative;
  width: 33%;
  float: left;
  padding: 10px 0 10px 0;
  text-align: center;
}

.mainheader span:hover {
  color: #A9A9A9;
  cursor: pointer;
}

/* Main Project Content */
.main {
  margin-top: 21%; /* Defined manually; must change when header size changes*/
  position: relative;
}

.sidenav {
  width: 30px;
  height: 100%;
  background-color: white;
  position: absolute;
  outline: 1px solid black;
  outline-offset: 1px;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  left:0;
}

.projectcontent {
  text-align: left;
  margin-left: 30px;
  overflow: scroll;
  background-color: white;
}

.projectlist {
  background-color: white;
  padding-top: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

.projectcontainer {
  background-color: #fff0e1;
  width: 60%;
  height: 275px;
  margin: 0px 5% 50px 15%; /*order is top right bottom left*/
  text-align:right;
  padding-right: 5%;
  padding-left: 15%;
}

.projectcontainer:hover {
  background-color: #fff0e1;
}

  .projectcontainer::after { /*https://codepen.io/bratzie/pen/OQYYeX*/
    position: absolute;
    content: '';
    width: 76.5%;
    height: 275px;
    transform: translate(-96%, -42%);
    border: 3px solid #ffce00;
    transition: transform 150ms ease-in-out;
  }

  .projectcontainer:hover::after{
    transform:translate(-93%, -49%); /*left/right, top/bottom*/
  }

.project {
  padding: 2vh;
  top: 10%;
}
