/* smallHeader is the thing at the top that brings you back to the home page */
.smallHeader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  background-color:#ffce00;
  padding: 0 3.5%;
  z-index:1;
}

.smallHeaderColumn {
  float:left;
  width:31%;
  height:54%;
  position: relative;
  padding: 10px 0;
  text-align:center;
  border-bottom:3px solid black;
  z-index:1;
}

/* projectHeader is the thing at the top below smallHeader that shows the project title and .projectDescription
and includes when you click to choose what is shown*/
.projectHeader {
  top:10%;
  position: fixed;
  width:100%;
  height: 35%;
  background-color: white;
  z-index:1;
}


.projectDescription {
	font-size: 3em;
	text-align: right;
	padding: 0 5% 0 10%;
	top:-10%;
	position: relative;
}

.projectTitle {
	float:right;
	position: relative;
	top: -40%;
	margin-right: 5%;
}

.blah{
	position:fixed;
	top:45%;
	height: 55%;
	width: 100%;
}
/* this is the div that contains User Research and Branding- this will be the click to choose */
.projectSelections {
  height: 100%;
  width:50%; /*two of these, to hold each projectOption*/
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: #fff0e1;
  float:left;
  font-size: 3em;
}

.projectOption { /*this will be for centering the text inside the projectSelections divs*/
  width:100%;
  position: relative;
  height: 50%;
  text-align:center;
  transform: translateY(70%);
}

/* This class gets added to the .projectSelections div when you either have no options to choose from between UXR and Branding
or if a user has clicked on one to show the contents of the project! */
.clicked {
  height: 7%;
  font-size: 1.75em;
}

.projectdescriptionholder {/*This holds the sections/ story of the projects and sits underneath the header*/
	position:absolute;
	top: 51%;
	width:100%;
	background-color: white;
	height: auto;
}

/* section stuff is the CSS that goes for each independent section for each project. If you want customization, we can talk about
how to add that in! */
.sectionTitle {
	width: 90%;
	margin: 40px 0 10px 10%;
	position: relative;
	padding:-20px;
	border-top: 10px solid #99d8ff;
	text-transform: uppercase;
}

.sectionDescription {
	width: 50%;
	margin: 10px 10% 100px 40%;
	position: relative;
}

.columnSectionTitle{ /* this the the type of methodology used and will go on top of the section description*/
	width: 90%;
	margin-left: 10%;
	position: relative;
}

.columnHolder { /* this will hold the goal/ findings vert headers and the methodology section description*/
	width:90%;
	height: 250px;
	padding-left: 10%;
	position: relative;
	display:block;
}

.columnText{ /*this is the main text in the methodology section*/
	width: 37%;
	margin: 0 2%;
	float:left;
	text-align:left;
	position:relative;
	display: block;
	margin-right: 6%;
}

.columnTitle{ /*this is the vertical headers in the methodology section. they'll only say goals and findings*/
	transform: rotate(-90deg);
	position: relative;
	width: 75px;
	float:left;
	display: block;
	text-transform: uppercase;
	line-height:2em;
	text-align:right;
	padding-right: 7px;
	transform-origin: top left;
	bottom: -83px;
	margin-right: -55px;
}

.quoteText{ /*this is for pull quotes "Learning like that changed my life"*/
	width: 70%;
	padding: 5% 5%;
	left: 10%;
	position: relative;
	border-top: 2px solid #260063;
	border-right: 2px solid #260063;
	background-color: white;
	height: 100px;
	display:block;
	color: #260063;
}

.quoteText::before{
	content: open-quote;
	color: #260063;
	font-size: 3em;
	line-height: 1em;
}

.quoteText::after{
	content: close-quote;
	color: #260063;
	font-size: 3em;
	line-height: 1em;
	float: right;
	position: relative;
	top: 90px;
}
