/* smallHeader is the thing at the top that brings you back to the home page */
.smallHeader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  background-color:#ffce00;
  padding: 0 3.5%;
  z-index:1;
}

.smallHeaderColumn {
  float:left;
  width:31%;
  height:54%;
  position: relative;
  padding: 10px 0;
  text-align:center;
  border-bottom:3px solid #260063;
  z-index:1;
}

/* projectHeader is the thing at the top below smallHeader that shows the project title and .projectDescription
and includes when you click to choose what is shown*/
.projectHeader {
  top:10%;
  position: fixed;
  width:100%;
  height: 35%;
  background-color: white;
  z-index:1;
}


.projectDescription {
	font-size: 3em;
	text-align: right;
	padding: 0 5% 0 10%;
}

.projectTitle {
	float:right;
}

/* this is the div that contains User Research and Branding */
.projectSelections {
  background-color:#fff0e1;
  height: 55%;
  width:100%;
  top:45%;
  position:fixed;
  font-size: 3em;
  cursor: pointer;
}

.projectOption {
  width:50%;
  position: relative;
  height: 100%;
  padding: 13% 0;
  text-align:center;
  float:left;
}

/* This class gets added to the .projectSelections div when you either have no options to choose from between UXR and Branding
or if a user has clicked on one to show the contents of the project! */
.clicked {
  height: 7%;
  font-size: 1.75em;
  padding: 0 !important;
}

.projectdescriptionholder {/*This holds the sections/ story of the projects and sits underneath the header*/
	position:absolute;
	top: 51%;
	width:100%;
	background-color: white;
	height: auto;
}

/* section stuff is the CSS that goes for each independent section for each project. If you want customization, we can talk about
how to add that in! */
.sectionTitle {
	width: 90%;
	margin: 40px 0 10px 10%;
	position: relative;
	padding:-20px;
	border-top: 10px solid #99d8ff;
}

.sectionDescription {
	width: 45%;
	margin: 10px 25% 100px 40%;
	position: relative;
}

.methodologySectionTitle{ /* this the the type of methodology used and will go on top of the section description*/

}

.methodologyHolder { /* this will hold the goal/ findings vert headers and the methodology section description*/

}

.methodologySectionDescription{ /*this is the main text in the methodology section*/
	width: 40%;
	margin: 0 5%;
	text-align:left;
	position:relative;
}

.methodologySectionGoalFinding{ /*this is the vertical headers in the methodology section. they'll only say goals and findings*/
	text-orientation:ltr;
	vertical-align: mixed;
}

.textquote{ /*this is for pull quotes "Learning like that changed my life"*/
	width: 100%;
	padding: 5% 10%;
	outline: 1px solid red;
	background-color: lightblue;
	outline-offset: -3px;
	height: 175px;
}

.textquote::after { /*https://codepen.io/bratzie/pen/OQYYeX*/
    position: absolute;
    content: '';
    width: 100%;
    height: 175px;
    transform: translate(-96%, -42%);
    border: 3px solid #ffce00;
    transition: transform 150ms ease-in-out;
  }
