.App {
  text-align: center;
  height: 100%;
}

/* Header */
.mainheader {
  overflow: hidden;
  background-color: #f1f1f1;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.mainheader h1 {
  text-align: center;
  padding: 10px;
  font-size: 32px;
}

.pageselections {
  position: relative;
  width: 100%;
  background-color: yellow;
}.pageselections:after {
    content: "";
    display: block;
    clear: both;
}

.mainheader .column {
  position: relative;
  width: 33%;
  float: left;
  padding: 10px 0 10px 0;
  text-align: center;
}

.mainheader span:hover {
  color: #A9A9A9;
  cursor: pointer;
}

/* Content */
.main {
  margin-top: 138.75px; /* Defined manually by header*/
  position: relative;
}

.sidenav {
  width: 30px;
  height: 100%;
  background-color: red;
  position: absolute;
}

.content {
  text-align: left;
  padding: 5px;
  margin-left: 30px;
  overflow: scroll;
  background-color: burlywood;
}

.projectlist {
  background-color: blue;
}

.projectcontainer {
  margin-bottom: 50px;
  border: black 1px;
  background-color: sandybrown;
}

.project {
  padding: 2vh;
}
