.home {
  text-align: center;
  height: 100%;
}

/* Header -- remember that you must change .main whenever you change the header height because
it uses a margin-top so that nothing goes under the mainheader */
.mainheader {
  overflow: hidden;
  background-color: #f1f1f1;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

/* this is Jen Goldberg on the home page*/
.mainheader h1 {
  text-align: center;
  padding: 10px;
  font-size: 32px;
}

/* this is the div that holds all the things you could rotate and choose (ME/UXR/GRAPHIC DESIGN) */
.pageselections {
  position: relative;
  width: 100%;
  background-color: yellow;
}.pageselections:after { /* I need this to give the .pageselections div height, because I use floats inside of it so it doesn't get height, which I need for background color*/
    content: "";
    display: block;
    clear: both;
}

/* This class is added to the current selection dynamically to make the middle of the headers big */
.emphasis {
  font-size: 24px;
  font-weight: bold;
}

/*The div that holds each name in the header (ME/UXR/GD)*/
.mainheader .column {
  position: relative;
  width: 33%;
  float: left;
  padding: 10px 0 10px 0;
  text-align: center;
}

.mainheader span:hover {
  color: #A9A9A9;
  cursor: pointer;
}

/* Main Project Content */
.main {
  margin-top: 148.88px; /* Defined manually; must change when header size changes*/
  position: relative;
}

/* This is for the sidenav, which I still have to implement*/
.sidenav {
  width: 30px;
  height: 100%;
  background-color: red;
  position: absolute;
}

/* This is the main div that holds the main information under each UXR/GD */
.projectcontent {
  text-align: left;
  padding: 5px;
  margin-left: 30px;
  overflow: scroll;
  background-color: burlywood;
}

.projectlist {
  background-color: blue;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Div that holds each individual project */
.projectcontainer {
  margin-bottom: 50px;
  border: black 1px;
  background-color: sandybrown;
}.projectcontainer:hover {
  background-color: lightgoldenrodyellow;
}

/* Div that holds each individual project */
.project {
  padding: 2vh;
}
